* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.datetime {
    color: #fff;
    background-color: #1e1410;
    font-family: 'Segoe UI', sans-serif;
    width: 340px;
    padding: 15x 10px;
    border-style: solid;
    border-color: rgb(255, 217, 0);
    
    text-align: center;
    -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(21, 1, 1, 0.1));
    transition: 0.5s;
    transition-property: background-color, box-shadow;
}

.datetime:hover {
    background-color: #1396ee;
    box-shadow: 0 0 30px #d70c0c;
}

.date {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child) {
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time span:last-child {
    background-color: #a3a29d;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}